<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
	<div class="col-md-12">

	  <h1>Targets</h1>

	  <table class="table">
	    <tbody><tr>
		<th width="20%">target</th>
		<th width="8%">status</th>
		<th width="72%">last log line</th>
	      </tr>
	      {{ range $target := .targets }}
	      <tr>
		<td>
		  <a href="/target/{{ $target.Name }}">{{ $target.Name }} - {{ $target.Host }}</a>
		</td>
		<td>
		  {{ if (ne $target.Status "available") }}
		  <span class="label label-danger">{{ $target.Status }}</span>
		  {{ end }}
		  {{ if (ne $target.Status "unavailable") }}
		  <span class="label label-success">{{ $target.Status }}</span>
		  {{ end }}
		</td>
		<td class="lastlog">
		  <small>stderr: </small>2024/01/05 14:34:58 dhcp.go:299: waiting indefinitely for eth0 to appear<br/>
		</td>
	      </tr>
	      {{ end }}
	  </table>
	</div>

  </body>
</html>
